In [ ]:
import pandas as pd
from google.colab import drive

In [ ]:
drive.mount('/content/drive', force_remount=True)

Mounted at /content/drive

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Kaggle/HR/HRDataset_v14.csv')

In [ ]:
df.drop(['MarriedID', 'MaritalStatusID','GenderID', 'EmpStatusID', 'DeptID', 
         'PerfScoreID', 'FromDiversityJobFairID', 'PositionID', 'HispanicLatino'], 
        axis=1, inplace=True)

In [ ]:
df.head()

              Employee_Name  EmpID  ...  DaysLateLast30  Absences
0       Adinolfi, Wilson  K  10026  ...               0         1
1  Ait Sidi, Karthikeyan     10084  ...               0        17
2         Akinkuolie, Sarah  10196  ...               0         3
3              Alagbe,Trina  10088  ...               0        15
4          Anderson, Carol   10069  ...               0         2

[5 rows x 27 columns]

In [ ]:
df.to_csv('/content/drive/MyDrive/Colab Notebooks/Kaggle/HR/HR.csv', index=False)